<!-- productBox.ejs -->
<link rel="stylesheet" href="/css/productBoxCard.css">


<div class="product-box-card">

    <a href="#"><img src="/image/home-products/nike.jpg" alt="product1"></a>
    <div class="product-tile-container">
      <div class="product-tile-info-text">
        <div class="product-tile-title">
          <h4>Nike...</h4>
        </div>
        <div class="product-tile-category">
          <h4>Shoes</h4>
        </div>
      </div>
      <!-- gap -->
      <div class="product-tile-price">
        <div class="product-tile-price-new">
          <h4>$150</h4>
        </div>
        <div class="product-tile-price-old">
          <h4>$200</h4>
        </div>
      </div>
    </div>

</div>
  