body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Catamaran';
    font-size: 2vw; /* Responsive font size */
}
.circle {
    width: 100px; /* Set your preferred width */
    height: 100px; /* Set your preferred height */
    border-radius: 50%; /* Make it circular */
    overflow: hidden; /* Ensure the image stays within the circular shape */
    background-color: black;
    /* border: solid 5px #FFB000; */
}

.circle img {
    width: 100%; /* Make the image fill the circular div */
    height: 100%; /* Make the image fill the circular div */
    object-fit: cover; /* Ensure the image maintains its aspect ratio */
}